   	
  * {
  box-sizing: border-box;
}

 body {
 font-family: Tahoma, Verdana, sans-serif;
}

/* Style the header */
header {
  background-color: #232727;;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #475151;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #2D3232;;
  padding: 10px;
  text-align: center;
  color: white;
}

/
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}  

table {
  width: 100%;
}
th{
    background-color: black ;
  color: white;
}
table, th, td {
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
}
/*button*/


/*navigation bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
a:link, a:visited {

 color: Black;
 text-align: center;

}

a:hover, a:active {
  background-color: black;
  color: white;
}
       


        .container {
            border-style: double;
            justify-content: center;
            align-items: center;
            margin-inline: 100px;
            padding: 20px;
            width: 20%;
        }
        .error {
            color: red;
        }